<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstappfigma">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dashbordActivity"
            android:label="@string/title_activity_dashbord"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".WelcomeActivity"
            android:label="WelcomeActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="profile" />
        <activity
            android:name=".MealActivity"
            android:label="Aliment"/>
        <activity
            android:name=".GlucoseActivity"
            android:label="Glucose"/>
        <activity
            android:name=".ReportActivity"
            android:label="Report"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>